<!DOCTYPE html>
<html lang="en" />
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <style media="screen">
    img {
      display: block;
      margin: 0px auto;
    }
  </style>
  <title>404</title>
</head>
<body>
  <img src="{{ staticPath }}/404.gif" alt="">
</body>
</html>
