<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="shortcut icon" href="/static/favicon.png" />
  {# <link rel="stylesheet" href="/static/github-markdown-css/github-markdown.css" /> #}
  <link rel="stylesheet" href="/static/themes/air/css/air.css" />
  <title>Index</title>
</head>
<body>
  <div class="markdown-body">
    {{ content | safe }}
  </div>
</body>
</html>
